<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup class="text-danger">
        <h1>Error 404</h1>
        <h2>The Page you are requesting is not found..</h2>
    </hgroup>
</body>
</html>